body{
padding-top: 12px;
font-size: 12px;
font-family: tahoma;
background-color: #104c92;
color: #ffffff;
}

a{
color: 	#dddddd;
text-decoration: none;
cursor: pointer;
}

a:hover{
text-decoration: underline;
}

.ui-tooltip-content{
text-align: center;
}

div#header{
width: 960px;
margin: 0 auto;
margin-bottom: 12px;
}

div#header img{
height: 90px;
display: block;
float: left;
margin-right: 12px;
}

div#header h1{
float: left;
height: 90px;
line-height: 90px;
font-size: 18px;
}

div#main{
width: 960px;
margin: 0 auto;
padding: 12px;
border: 1px solid #ffffff;
border-radius: 6px;
}

div#main h1{
font-size: 26px;
text-align: center;
margin-bottom: 12px;
}

/* Breadcrumb */

div#main div#breadcrumb{
margin-bottom: 12px;
}
div#main div#breadcrumb a{
text-decoration: none;
}

div#main div#breadcrumb span.bull{
color: 	#FFA500;
}

div#main div#operacoes{
float: left;
background-color: #eeeeee;
padding: 6px;
border-radius: 6px;
}

/* divs de alerta */
div#main div.alert{
color: #000000;
padding: 6px;
margin-bottom: 12px;
border-radius: 6px;
}

/* cores: HSL(X, 90%, 70%) */
div#main div.alert{

}
div#main div.alert ul.erros{
list-style: disc inside;
}

div#main div.alert.yellow{
background-color: #F7EA6E;
}

div#main div.alert.green{
background-color: #ADF76E;
}

div#main div.alert.red{
background-color: #F76E6E;
}
/* formulários */

div#main form.formatted{
padding-bottom: 12px;
}

div#main form.formatted div.form_line{
float: left;
width: 960px;
margin-top: 12px;
}

div#main form.formatted div.form_line.w_1_2{width: 480px;}
div#main form.formatted div.form_line.w_1_3{width: 320px;}
div#main form.formatted div.form_line.w_2_3{width: 640px;}
div#main form.formatted div.form_line.w_1_4{width: 240px;}
div#main form.formatted div.form_line.w_3_4{width: 720px;}

div#main form.formatted label{
display: block;
margin-bottom: 3px;
}

div#main form.formatted input{
}

div#main form.formatted hr{
float: left;
width: 960px;
margin-top: 12px;
}

div#main form.formatted fieldset.confirma{
text-align: center;
}

div#main form.formatted fieldset.confirma input.confirma{
display: inline-block;
vertical-align: middle;
border: none;
color: #000000;
border-radius: 3px;
margin: 1px;
}

div#main form.formatted fieldset.confirma input.confirma:hover{
cursor: pointer;
border: 1px solid #ffffff;
margin: 0;
}

div#main form.formatted fieldset.confirma input.confirma.sim{
background-color: #F76E6E;
padding: 3px;
}

div#main form.formatted fieldset.confirma input.confirma.nao{
background-color: #ADF76E;
padding: 6px;
}

/* tabelas */
div#main table.formatted{
margin-bottom: 12px;
}

div#main table.formatted td, div#main table.formatted th{
padding: 3px 6px;
vertical-align: middle;
}

div#main table.formatted tbody tr:nth-child(odd){
background-color: #406391;
}
div#main table.formatted tbody tr:nth-child(even){
background-color: #3d70b3;
}

div#main table.formatted tbody tr:hover{
background-color: #e4e9f0;
color: #000000;
}

div#main table.formatted tbody tr:hover a{
color: #000000;
}

div#main table.formatted thead th{
background-color: #3a4a5f;
font-weight: bold;
}

div#main table.formatted thead.center th{
text-align: center;
}

/******************/
/* Classes gerais */
/******************/
.clear{
clear:both;
overflow:hidden;
}
.hidden{
display:none;
height: 0px;
}
.notext{
color:transparent;
text-indent: -999em;
overflow: hidden;
font-size: 0px;
line-height:100%;
}
.nofill{
border: none;
background-color: transparent;
height: 24px;
}
.fl{float: left;}
.fr{float: right;}
.cl{clear: left;}
.cr{clear: right;}
.cb{clear: both;}
.tac{text-align: center;}
.tal{text-align: left;}
.tar{text-align: right;}